.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-weight: 400;
}

.photograph-header h1 {
  color: #D3573C;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.photographer-tagline {
  color: #525252;
  font-size: 18px;
  font-weight: 400;
}
