/* portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
}

.media-object {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.media-details {
  margin-top: 12px;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.likes {
  white-space: nowrap;
  display: flex;
  gap: 6px;
  align-items: center;
}

.like-btn {
  cursor: pointer;
}

.red-text {
  color: #901C1C;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
